<div class="wrapper">
  <div class="banner">
    <h1>Wich stock would you analyze?</h1>
    <h2>Search for a company to see the fair value for their stock</h2>
  </div>
  <div class="search-result-container">
    <app-search-smart></app-search-smart>
  </div>
  <div class="valuation-wrapper">
    <img src="https://www.macquarie.com.au/fragments/bfs/business-banking/benefits-module-business-banking/master/_jcr_content/root/benefits_module/image-0.coreimg.jpeg/1579676993229/middle-aged-woman-leading-serious-meeting-4-3.jpeg" alt="">
  </div>
  <app-display-valuation
  [data]="data" [change]="change" [date]="date" [price]="price" [name]="name" [tickr]="tickr"
  [chartOptions]="chartOptions" [chartData]="chartData"
  ></app-display-valuation>
</div>

