<div class="wrapper">
  <header>
    <h1 class="bold">Valuation</h1>
  </header>
  <div class="content-container">
    <main>
      <h1 class="bold">Alpha Value Stock Valuation Platform</h1>
      <div class="main title">
        <h2>Our Intristic value Calculator</h2>
      </div>
      <div class="main-text-first">
        <p>
          Discounted Cash Flow (DCF) valuation remains a fundamental value investing model.
        Using a DCF continues to be one of the best ways to calculate a company’s intrinsic value.
        Using a DCF remains the main method analysts use throughout finance,
        and some think using this type of valuation remains far too complicated for them.
        We at Alpha Value have created a tool that can help you determine the intristic value of a stock based
        on a DCF valuation.
        </p>
      </div>
      <div class="main-text-second">
        <h2>What is a Discounted Cash Flow Model?</h2>
        <div class="main-text-img-div">
          <p>
            Discounted cash flow (DCF) is a valuation method used to estimate the value
             of an investment based on its future cash flows. DCF analysis attempts to figure out
              the value of an investment today, based on projections of how much money it will generate.
          </p>
          <img src="https://substackcdn.com/image/fetch/f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fbucketeer-e05bbc84-baa3-437e-9518-adb32be77984.s3.amazonaws.com%2Fpublic%2Fimages%2F0dd67f7b-fe4b-4cd5-af74-8530e306dbf1_779x584.png" alt="#">

        </div>
      </div>
    </main>
  </div>

</div>
