<nav>
  <ul>
    <li ><a [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</a></li>
    <li ><a [routerLink]="['/home/valuation']" routerLinkActive="router-link-active" >Valuations</a></li>
    <li ><a href="#">About</a></li>
    <li ><a href="#">Contact</a></li>
  </ul>
  <div class="right-bar">
    <div class="icon-container">
      <mat-icon class="icon">search</mat-icon>
    </div>
    <a [routerLink]="['/home/profile']" routerLinkActive="router-link-active" >
      <div class="icon-container">
        <mat-icon class="icon">account_circle</mat-icon>
      </div>
    </a>
    <button class="logout" [routerLink]="['/login']" routerLinkActive="router-link-active" (click)="logout()">Logout</button>
  </div>
</nav>
