<div class="wrapper" *ngFor="let stockData of [(data|async)]">
  <ng-container *ngIf="(data|async )!=null">
    <div class="stock-info-1">
      <div class="ticker-stock-div">
        <p>Price: {{stockData.close|currency : 'USD' : true : '1.2-2'}}</p>
        <h5>{{stockData.change}}%</h5>
        <p>{{stockData.name}}</p>
        <p>{{stockData.symbol}}</p>
        <p class="date">Updated {{stockData.date|date}}</p>
      </div>
    </div>
    <div class="stock-info-2">
      <app-stock-graph [getChartOptions]="chartOptions" [chartData]="chartData" ></app-stock-graph>
    </div>
    <div class="valuation-div">
      <h2>{{stockData.symbol}} intristic value:</h2>
      <h1>120 USD</h1>
      <p>The intrinsic value of one {{stockData.symbol}} stock under our scenario is 123 USD. Compared to the current market price of 115 USD,<span> {{tickr|async}} is undervalued by 11%.</span></p>
    </div>
  </ng-container>
</div>

