<div class="wrapper">
  <div class="auth-nav" *ngIf="isLoggedOut$|async">
    <div class="nav-bar-container">
      <img class="logo" src="/assets/logos/ZeroSigmaLogo.svg" alt="image">
    </div>
    <div class="btn-container">
      <button class="login" (click)="RemoveAuthErrors()" [routerLink]="['/login']" routerLinkActive="router-link-active" >Login</button>
      <button class="register" (click)="RemoveAuthErrors()" [routerLink]="['/register']" routerLinkActive="router-link-active" >Register</button>
    </div>
  </div>
  <app-nav-bar-container-comp *ngIf="isLoggedIn$|async"></app-nav-bar-container-comp>
</div>
<router-outlet></router-outlet>
<app-toast></app-toast>

