
dialog{
  width: 40vw;
  margin: 20vh auto;
  padding: 5px;
  z-index: 300;
  text-align: center;
  background-color: rgb(30, 30, 30);
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
button{
  height: 2em;
  width: 4em;
  border-radius: 5px;
  outline: none;
  border: none;
  background: none;
  color: rgb(255, 0, 0);
  cursor: pointer;
}
button:hover,:focus{
  color: rgb(214, 0, 0);
}
p{
  font-size: 0.9em;
  color: rgb(255, 255, 255);
  margin: 0;
}


