<form [formGroup]="loginForm" (submit)="Login()">
  <div class="container-1">
    <label >Email</label>
    <input type="email" formControlName="email" placeholder="email">
    <div class="errors-container" *ngIf="email.invalid && email.touched ">
      <small *ngIf="email.errors.email">Enter a valid email</small>
      <small *ngIf="email.errors.required">Email is required</small>
    </div>
  </div>
  <div class="container-2">
    <label >Password</label>
    <input type="password" formControlName="password" placeholder="password">
    <div class="errors-container" *ngIf="password.invalid && password.touched ">
      <small *ngIf="password.errors.required">Password is required</small>
      <small *ngIf="password.errors.minlength">Password should be at least 8 characters</small>
      <small *ngIf="password.errors.wrongpassword">Wrong Password</small>
    </div>
  </div>
  <small *ngIf="errorNotification$|async">{{errorNotification$|async}}</small>
  <div class="container-3">
    <button type="submit" [disabled]="loginForm.invalid">Login</button>
  </div>
</form>
